@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Tektur:wght@400;500;600;800&display=swap');
*, 
*::before, 
*::after { 
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Tektur', cursive;
}

body { 
    padding: 27px;
    background-color: #000000;
}

header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
}
span { 
    color: white;
    font-size: 30px;
    position: absolute;
    top: 15%;
}
.logo { 
    display: flex;
    align-items: center;
}
.logo img { 
    width: 35px;
    margin-right: 10px;
}
.logo p { 
    font-size: 22px;
    font-weight: 500;
    color: white    ;
}
.logoutdiv a { 
    background: #555;
    color: white;
    padding: 7px 37px;
    border-radius: 8px;
}
.logoutdiv a:hover { 
    opacity: 0.7;
}


.clock {
    width: 360px;
    height: 120px;
    color: white;
  }
  .date {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
 

  .hr, .min, .sec, .colon {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 4rem;
  }
  main { 
    display: flex;
    padding: 88px;
    align-items: center;
    justify-content: space-around;
  }
  .leftside ul { 
    color: white;
  }