@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');*, 
*::before, 
*::after { 
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: sans-serif;
  }
  .container { 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
  form {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 30px;
    background: #fff;
    height: 100vh;
    align-items: stretch;
    flex-direction: column;
}
  
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
  }
  
  label {
    color: #888;
    font-size: 18px;
    padding: 10px;
  }
  button {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  button, a {
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  .error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  .login-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form_flex { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .choos_style { 
    margin: 0 auto;
  }

  .left_side { 
    background-color: black;
    height: 100vh;
    width: 100%;
  }

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  color: white;
}

.typing-demo {
  width: 14ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Shadows Into Light', cursive;
  font-size: 6em;

}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media only screen and (max-width: 980px) {
  .container { 
    flex-wrap: wrap;
    justify-content: center;
  }
}